<!DOCTYPE html>
<html ng-app="myapp" manifest="library.appcache">
  <head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.6/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.11/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="library.css">
    <script src="library.js"></script>
    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  </head>
  <body ng-controller="LibController">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{filteredBooks.length}} Library Books Visible in your Library</a>
        </div>
      </div>
      Book Covers Provided by <a href="https://openlibrary.org/dev/docs/api/covers">OpenLibrary</a>
    <div align="left">
      <input type="text" ng-model="isbn" placeholder="Add ISBN" style="width:100%;font-size:24px;"><button type="button" class="btn btn-primary btn-lg active" ng-click="addBook()">Add Book</button> </input>
    </div>
      <input type="text" ng-model="search" placeholder="Search" style="width:100%;font-size:24px;">
    </div>

    
    <div ng-repeat="(id,book) in filteredBooks = (books | orderByPriority | filter:search)">
      <span ng-switch="" on="$index % 3">
        <div class="row" ng-switch-when="0">
          <div class="col-md-4" src="#" ng-show="filteredBooks[$index+0]">
            <img src="http://covers.openlibrary.org/b/isbn/{{filteredBooks[$index+0].isbn}}-M.jpg"/> <br />
            <small><em>{{filteredBooks[$index+0].title}}</em></small><br />
            <small>ISBN: {{filteredBooks[$index+0].isbn}} </small><br />
          </div>
          <div class="col-md-4" src="#" ng-show="filteredBooks[$index+1]">
            <img src="http://covers.openlibrary.org/b/isbn/{{filteredBooks[$index+1].isbn}}-M.jpg"/> <br />
            <small><em>{{filteredBooks[$index+1].title}}</em></small><br />
            <small>ISBN: {{filteredBooks[$index+1].isbn}} </small><br />
          </div>
          <div class="col-md-4" src="#" ng-show="filteredBooks[$index+2]">
            <img src="http://covers.openlibrary.org/b/isbn/{{filteredBooks[$index+2].isbn}}-M.jpg"/> <br />
            <small><em>{{filteredBooks[$index+2].title}}</em></small><br />
            <small>ISBN: {{filteredBooks[$index+2].isbn}} </small><br />
          </div>
        </div>
      </span>
    </div>
    
  </body>
</html>
